# .coveragerc for edx-analytics-platform
[run]
data_file = .coverage
source = edx/analytics

[report]
ignore_errors = True
omit =
    */tests/*

[html]
title = EdX Analytics Platform Python Test Coverage Report
directory = report

[xml]
output = coverage.xml
