{"username": "anonymous", "host": "", "event_source": "server", "event_type": "edx.course.enrollment.activated", "context": {"course_id": "edX/Open_DemoX/edx_demo_course", "org_id": "edX", "command": "./manage.py create_user"}, "time": "{{ start_date }}T17:09:59.941616+00:00", "ip": "", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 1, "mode": "honor"}, "agent": "", "page": null}
{"username": "anonymous", "host": "", "event_source": "server", "event_type": "edx.course.enrollment.activated", "context": {"course_id": "edX/Open_DemoX/edx_demo_course", "org_id": "edX", "command": "./manage.py create_user"}, "time": "{{ start_date }}T17:10:04.587707+00:00", "ip": "", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 2, "mode": "audit"}, "agent": "", "page": null}
{"username": "anonymous", "host": "", "event_source": "server", "event_type": "edx.course.enrollment.activated", "context": {"course_id": "edX/Open_DemoX/edx_demo_course", "org_id": "edX", "command": "./manage.py create_user"}, "time": "{{ start_date }}T17:10:07.989504+00:00", "ip": "", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 3, "mode": "verified"}, "agent": "", "page": null}
{"username": "anonymous", "host": "", "event_source": "server", "event_type": "edx.course.enrollment.activated", "context": {"course_id": "edX/Open_DemoX/edx_demo_course", "org_id": "edX", "command": "./manage.py create_user"}, "time": "{{ start_date }}T17:10:11.440312+00:00", "ip": "", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 4, "mode": "honor"}, "agent": "", "page": null}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 1, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 1, "mode": "honor"}, "event_type": "edx.course.enrollment.deactivated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date + days(1) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 2, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 2, "mode": "audit"}, "event_type": "edx.course.enrollment.deactivated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.activated", "time": "{{ start_date + days(2) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 2, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 2, "mode": "audit"}, "event_type": "edx.course.enrollment.activated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.activated", "time": "{{ start_date + days(2) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 2, "org_id": "edX", "course_id": "course-v1:edX+Open_DemoX+edx_demo_course2", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "course-v1:edX+Open_DemoX+edx_demo_course2", "user_id": 2, "mode": "verified"}, "event_type": "edx.course.enrollment.activated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date + days(3) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 2, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 2, "mode": "honor"}, "event_type": "edx.course.enrollment.deactivated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date + days(4) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 3, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 3, "mode": "verified"}, "event_type": "edx.course.enrollment.deactivated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date + days(5) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 4, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 4, "mode": "honor"}, "event_type": "edx.course.enrollment.deactivated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.activated", "time": "{{ start_date + days(4) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 1, "org_id": "edX", "course_id": "course-v1:edX+Open_DemoX+edx_demo_course2", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "course-v1:edX+Open_DemoX+edx_demo_course2", "user_id": 1, "mode": "honor"}, "event_type": "edx.course.enrollment.activated"}
{"username": "honor", "event_source": "server", "name": "edx.course.enrollment.deactivated", "time": "{{ start_date + days(5) }}T18:34:05.474003+00:00", "agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.137 Safari/537.36", "page": null, "host": "precise64", "session": "4e0921dacdcb12ff1049063a5676305b", "context": {"user_id": 4, "org_id": "edX", "course_id": "edX/Open_DemoX/edx_demo_course", "path": "/change_enrollment"}, "ip": "10.0.2.2", "event": {"course_id": "edX/Open_DemoX/edx_demo_course", "user_id": 4, "mode": "honor"}, "event_type": "edx.course.enrollment.deactivated"}
