# Newer versions introduce a dependency on charset-normalizer which only supports python 3.6 and above.
requests==2.25.1

# Newer versions don't support python 2.x
jinja2==2.11.3
markupsafe==1.1.1
pygments==2.5.2
stevedore==1.32.0
